@use '../../styles/variables' as *;

.Mensage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: $fontcolor;
  padding-top: 5rem; // Adiciona o espaçamento de 3rem no topo sem afetar o nav

  h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: $font-semibold;
    width: 21rem;
    font-family: $primaryfont;
  }

  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input,
    select, // Adicionado para o select
    textarea {
      background-color: #B1C2D4;
      border: none;
      font-family: $secondaryfont;
      font-weight: $font-medium;
      padding: 0.5rem;
      height: 2rem;
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px #00000050;
    }

    select {
      height: 2.3rem;
      padding-left: 0.5rem;
      font-size: 1rem;
      color: $fontcolor;
      font-family: $secondaryfont;
    }

    option {
      background-color: #B1C2D4;
      color: $fontcolor;
      font-family: $secondaryfont;
    }

    textarea {
      height: 6rem;
    }

    label {
      font-size: 1.2rem;
      font-weight: $font-regular;
      font-family: $secondaryfont;
    }
  }
}

.Mensage__Form__itens {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 21rem;
}

.bt {
  margin: auto;
  margin-top: 3.7rem;
  margin-bottom: 3.7rem;
  width: 16rem;
  height: 4rem;
  font-size: 1rem;
  background-color: transparent;
  color: $bta;
  border: 3px solid $bta;
  font-weight: $font-semibold;
  border-radius: 1rem;
  padding: 10px;

  &:hover {
    color: $tertiaryfonttcolor;
    background-color: $bta;
    transform: scaleX(7rem);
    transition: 0.5s ease;
  }
}

@media (min-width: 769px) {
  .Mensage {
    h2 {
      font-size: 2rem;
      width: 43rem;
    }

    form {
      gap: 1.5rem;
    }
  }

  .bt {
    margin: auto;
    margin-top: 3.7rem;
    margin-bottom: 3.7rem;
    width: 30rem;
    height: 5rem;
    font-size: 1rem;
    background-color: transparent;
    color: $bta;
    border: 3px solid $bta;
    font-weight: $font-semibold;
    border-radius: 1rem;
    padding: 10px;

    &:hover {
      color: $tertiaryfonttcolor;
      background-color: $bta;
      transform: scaleX(7rem);
      transition: 0.5s ease;
    }
  }

  .Mensage__Form__itens {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 41rem;
  }
}

