@use '../../styles/variables' as *;


.Mensage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2REM;
  gap: 2rem;
  color: $fontcolor;

  h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: $font-semibold;
    width: 21rem;
    font-family: $primaryfont;
  }

  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input {
      background-color: #B1C2D4;
      border: none;
      border-radius: 10px;
      height: 2.2rem;
      box-shadow: 0px 4px 4px 0px #00000050;
    }

    textarea {
      background-color: #B1C2D4;
      border: none;
      border-radius: 10px;
      height: 6rem;
      box-shadow: 0px 4px 4px 0px #00000050;
    }

    label {
      font-size: 1.2rem;
      font-weight: $font-regular;
      font-family: $secondaryfont;
    }
  }
}

.bt {
  margin: auto;
  margin-top: 3.7rem;
  margin-bottom: 3.7rem;
  width: 16rem;
  height: 4rem;
  font-size: 1rem;
  background-color: transparent;
  color: $bta;
  border: 3px solid $bta;
  font-weight: $font-semibold;
  border-radius: 1rem;
  padding: 10px;

  &:hover {
    color: $tertiaryfonttcolor;
    background-color: $bta;
    transform: scaleX(7rem);
    transition: 0.5s ease;
  }
}

.Mensage__Form__itens {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 21rem;
}