@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primaryfont: 'Eczar', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;


$backgroudcolor: #304965;
$backgroudcolorSecondary: #F3F2FF;
$fontcolor: #1E1E1E;
$secondaryfontcolor: #252B49;
