@use './variables' as *;



body {
  background-color: $backgroudcolorSecondary;
  font-family: $primaryfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontcolor;
  line-height: 1.5;
  letter-spacing: 0.5px;
  strong{
    font-weight: normal;
  }
}

* {
  padding: 0;
  margin: 0;
}
