@use './variables' as *;
/* Remover margin e padding para garantir que o conteúdo comece sem espaçamento */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que a altura ocupe toda a tela */
  scroll-behavior: smooth;
}

body {
  background-color: $backgroudcolorSecondary;
  font-family: $primaryfont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontcolor;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

strong {
  font-weight: normal;
}

