@use '../../styles/variables' as *;

.B {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7rem;
    margin-bottom: 3rem;
    button {
      width: 16rem;
      height: 4rem;
      font-size: 1rem;
      background-color: $bta;
      color: $tertiaryfonttcolor;
      border: 3px solid $bta; 
      font-weight: $font-semibold;
      border-radius: 1rem;
      padding: 10px;
      &:hover {
        color: $bta;
        background-color: transparent;
        transform: scaleX(7rem);
        transition: 0.5s ease;
            }
    }
}

.Contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 23rem;
    gap: 3rem;

    h2{
        font-size: 1.4rem;
        font-weight: $font-semibold;
        color: $secondaryfontcolor;
    }


    &__Content {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        font-size: 0.8rem;
        text-align: justify;
        font-weight: $font-regular;

        strong {
            font-size: 0.9rem;
            font-weight: $font-medium;
        }
    }
}

@media (min-width: 768px){
    .Contact {
        max-width: 64rem;
        gap: 3rem;
    
        h2{
            font-size: 1.5rem;
        }
    
    
        &__Content {
            gap: 3rem;
            font-size: 1.1rem;
            
    
            strong {
                font-size: 1.2rem;

            }
        }
    }
    .B {
        margin-left: 35.5%;
        margin-right: 35.5%;
        margin-top: 15rem;
        margin-bottom: 6rem;
        button {
          width: 27rem;
          height: 5rem;
          font-size: 1.2rem;
          background-color: $bta;
          color: $tertiaryfonttcolor;
          border: 3px solid $bta; 
          font-weight: $font-semibold;
          border-radius: 1rem;
          padding: 10px;
          &:hover {
            color: $bta;
            background-color: transparent;
            transform: scaleX(7rem);
            transition: 0.5s ease;
                }
        }
    }
    
}

@media (min-width: 1900px){
    .Contact {
        max-width: 1440px;

    }
    
}