@use '../../styles/variables' as *;

.Footer {
    background-color: $backgroudcolor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 100%;

    a {
        text-decoration: none;
        color: $tertiaryfonttcolor;
        font-size: 0.7rem;
    }


    &__Container {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;

        &__Itens {
            display: flex;
            flex-direction: column;
            gap: rem;

            &__Dados {
                align-items: center;
                display: flex;
                gap: 1rem;

                img {
                    width: 26px;
                }
            }



        }

        &__Redes {
            display: flex;
            gap: 0.5rem;

            img {
                height: 26px;
                width: 100%;
            }
        }
    }

    &__Cop {
        justify-content: center;
        color: $tertiaryfonttcolor;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 0.7rem;
        font-weight: $font-medium;

    }
}

@media (min-width: 768px) {
    .Footer {
        justify-content: space-between;
        height: 18vw;

        a {
            font-size: 1rem;
        }


        &__Container {
            margin-top: 2rem;
            gap: 43rem;
            justify-content: space-between;

            &__Itens {
                gap: 1rem;

                &__Dados {
                    gap: 1rem;

                    img {
                        width: 26px;
                    }
                }



            }

            &__Redes {
                gap: 0.5rem;

                img {
                    height: 26px;
                    width: 100%;
                }
            }
        }

        &__Cop {
            font-size: 0.8rem;
        }
    }

}

@media (min-width: 1900px) {}