@use '../../styles/variables' as *;

.Header {
  margin: 0;
  padding: 0;
  background-color: $backgroudcolor;
  font-family: $font-semibold;
  height: 3vw;
  position: fixed;
  z-index: 1000;
  width: 100vw;

  header {
    background-color: $backgroudcolor;
    padding-inline: 3vw;

    nav {
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $backgroudcolor;
      width: 100%;  // Garantir que ocupe toda a largura da tela

      .logo {
        display: flex;
        justify-content: center; // Centraliza o logo
        align-items: center;
      
        img {
          width: 23rem; // Define um tamanho responsivo
        }
      }

      .hamburguer {
        display: none; // Oculta o botão em telas maiores
        border: none;
        background: none;
        border-top: 3px solid $tertiaryfonttcolor;
        cursor: pointer;
        z-index: 2;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 3px;
          background: $tertiaryfonttcolor;
          margin-top: 5px;
          transition: 0.3s;
        }
      }

      .nav-list {
        margin-top: 1.5rem;
        display: flex;
        gap: 50px;
        list-style: none;

        li {
          a {
            font-size: 1.1rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
            color: $tertiaryfonttcolor;
            text-decoration: none;
            opacity: 1;
            transition: opacity 0.5s ease;
            &:hover{
              color: $yellow;
              border-bottom: 1px solid $tertiaryfonttcolor;
              transition-duration: 1s;
            }
          }
        }
      }

      .navbar__Form {
        text-align: center;
        margin-top: -0.5rem;

        button {
          background-color: transparent;
          border: 2px solid $yellow;
          color: $tertiaryfonttcolor;
          padding: 0.5rem 1rem;
          cursor: pointer;
          border-radius: 5px;
          font-size: 0.9rem;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $yellow;
            color: $fontcolor;
          }
        }
      }
    }
  }
}

// Responsividade para mobile
@media (max-width: 820px) {
  .Header {
    height: 85px !important;

    .nav {
      display: flex;
      height: 5rem;
      max-width: 98vw;
      justify-content: space-between;
      .logo img {

        width: 21rem; // Ajuste específico para mobile
        
      }

      .hamburguer {
        display: block; // Agora o botão aparece apenas no mobile
        position: relative;

        &::after,
        &::before {
          margin-top: 5px;
          position: relative;
        }
      }

      .nav-list {
        margin-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $backgroudcolor;
        clip-path: circle(100px at 90% -15%);
        transition: clip-path 1s ease-out;
        pointer-events: none;
        gap: 2.5rem;

        li {
          a {
            font-size: 1.3rem;
            text-align: center;
            display: block;
            padding: 10px;
          }
        }
      }

      &.active {
        .nav-list {
          clip-path: circle(1500px at 90% -15%);
          pointer-events: auto;
        }

        .hamburguer {
          position: fixed;
          top: 26px;
          right: 16px;
          border-top-color: transparent;

          &::before {
            transform: rotate(135deg);
          }

          &::after {
            transform: rotate(-135deg);
            top: -7px;
          }
        }
      }

      &:not(.active) .nav-list a {
        transition: opacity 0.3s ease 0.5s;
        opacity: 1;
      }
    }
  }

  .navbar__Form {
    margin-top: 0;

    button {
      border: 2px solid $yellow;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }
}
